@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-paragraph leading-6 bg-gray-200;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-primary;
  }
  .section {
    @apply py-12 lg:py-32;
  }
  .section-title {
    @apply text-3xl lg:text-4xl font-medium lg:font-extrabold mb-5;
  }
}
p{
  font-size: 18px;
  color: rgb(199, 199, 156);
}

.card{
  margin: 10px 10px;
}
.card-body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-title{
  color: black;
}

footer {
  bottom: 0;
  width: 100%;
  background: rgb(193, 193, 209);
  padding: 20px;
  text-align: center;
}

.footerButtons{
  padding: 20px 20px
}

a{
  margin: 10px 10px;
}